<%= form_with(model: @raeet, local: true) do |form| %>
  <% if @raeet.errors.any? %>
    <div id="error_explanation">
      <h2><%= @raeet.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @raeet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="raeet_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "Raeet一覧画面にもどる", raeets_path %>
