<!DOCTYPE html>
<html>
  <head>
    <title>Raitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="header">
    <h1>Raeet一覧だぜぇ〜</h1>
  </header>

  <body>
    <%= yield %>

    <footer class="footer">
      <p>運営会社WAIRUDODARO株式会社</p>
      <p>© 1994-2019 Copyright SUGIYAMA Corp.</p>
    </footer>
  </body>
</html>
