<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Raitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container" id="wrapper">
      <div class="contents mx-auto">
        <nav class="navbar">
            <%= link_to "Raitter",raeets_path,class: "Raitter_logo" %>
        </nav>
        <%= yield %>
        <footer class="footer">
          <p>運営会社Raiter株式会社</p>
          <p>Copyright © 2000-2020 Raiter All Rights Reserved.</p>
        </footer>
      </div>
    </div>
  </body>
</html>
